<div class="tabs">
    <a class="tab tab-bordered">Tab 1</a> 
    <a class="tab tab-bordered tab-active">Tab 2</a> 
    <a class="tab tab-bordered">Tab 3</a>
</div>


<ul>
    <li class="box mb-1 has-background-dark">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/images/person/1.jpg" class="is-rounded"/>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Charlie Rikko
                        </strong>
                        <small class="has-text-white-ter">
                            @johnsmith
                        </small>
                        <br/>
                        <span class="has-text-white-ter">
                            Travel and work arround the world during 7 years
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </li>
    <li class="box mb-1 has-background-dark">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/images/person/2.jpeg" class="is-rounded"/>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Eric Rikko
                        </strong>
                        <small class="has-text-white-ter">
                            @ericP
                        </small>
                        <br/>
                        <span class="has-text-white-ter">
                            CTO full time, Eric is the master of css 3
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </li>
    <li class="box mb-1 has-background-dark">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/images/person/3.jpg" class="is-rounded"/>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Yonas Sanchez
                        </strong>
                        <small class="has-text-white-ter">
                            @yonnasan
                        </small>
                        <br/>
                        <span class="has-text-white-ter">
                            Love dogs ans ice cream, Yonas is CEO and happy
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </li>
    <li class="box mb-1 has-background-dark">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="/images/person/4.jpg" class="is-rounded"/>
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">
                            Maria Sukko
                        </strong>
                        <small class="has-text-white-ter">
                            @mariaDesign
                        </small>
                        <br/>
                        <span class="has-text-white-ter">
                            You say Design ? Call Maria now
                        </span>
                    </p>
                </div>
            </div>
        </article>
    </li>
</ul>
